{% extends "layout.html.twig" %}

{% block title %} {{ parent() }} - Accueil{% endblock %}

{% block content %}
    <div class="row centered m-auto p-auto">
        <h3 class="col text-center">
            <a href="{{ path('articles') }}">Tous nos Articles</a>
        </h3>
        <h3 class="col text-center">
            <a href="{{ path('blogueurs') }}">Tous nos Blogueurs</a>
        </h3> 
    </div>

    <div class="row text-center">
        <div class="col text-center">
            <h3>Dernier article du blog: </h3>
            <p>écrit par: Blogueur</p>
            <p>le: {{ article.dateDeCreation | date("d-m-y \à H\\hi") }}</p>
            <h2> {{ article.titre }}</h2>
            
            <p>{{ article.contenu | slice(0,300) }}...<a href="{{ path('article', 
            {id: article.id} ) }}">lire la suite</a></p>

        </div>
    </div>
{% endblock %}
